.about {
  position: absolute;
  background: var(--primary-color);
  right: 20px;
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 5;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, .4);
  transition: all ease-in 1s;
  animation: down 1s infinite;
}

.about header,
.about footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.about header {
  border-bottom: 2px solid rgba(255,255,255, .2);
  margin-bottom: 15px;
}

.about h3 {
  margin-bottom: 5px;
}

.about li{
  list-style: none;
  text-align: left;
}

.about a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 5px;
  position: relative;
  transition: all ease .3s;
}


.about a:hover {
  color: #0d4d43;
}

.about footer {
  border-top: 1px solid rgba(255,255,255, .2);
  margin-top: 15px;
}

@keyframes dropdown {
  0% {
    transform: translateY(-100px);
  }
  
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .about {
    width: 90%;
    left: 5%
  }

  .about li{
    text-align: center;
  }  
}