* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0bbca2;
  --dark-color: #0bbca2;
  --text-title-color: white;
  --text-body-color: #444;
  --text-body-contrast: var(--primary-color)
}

.App {
  text-align: center;
  width: 100%;
  color: #444;
}

.app-header {
  background: var(--primary-color);
  color: var(--text-title-color);
  height: 60px;
  display: flex;
  padding: 0 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.app-title {
  font-size: 1.5em;
  width: 50%;
  padding-top: 15px;
  text-align: left;
}

.app-title a {
  cursor: pointer;
  color: var(--text-title-color);
  text-decoration: none;
}

.phone-title {
  display: none;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}
.main-menu li {
  list-style: none;

}

.menu-btn {
  padding: 5px 10px;
  width: 100px;
  height: 38px;
  margin: 0 5px;
  border-radius: 25px;
  font-weight: bolder;
  transition: all ease-in .3s;
  text-decoration: none;
  color: var(--text-title-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn:hover {
  background: rgba(0, 0, 0, .2);
}

.menu-btn.remark {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
  background: white;
  color: var(--primary-color);
}
.menu-btn.remark:hover {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .4);
  transform: scale(1.01);
}


.app-main-section{ 
  width: 100%;
  display: flex;
  padding: 0 50px;
  margin-top: 50px;
}

.app-section-title {
  color: var(--dark-color);
  text-align: left;
  margin-bottom: 10px;
}

.app-left-container {
  width: 70%;
}

.app-right-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  
  .app-main-section{ 
    width: 100%;
    flex-direction: column;
    padding: 0 5px
  }
  
  .app-left-container {
    width: 100%;
  }
  
  .app-right-container {
    width: 100%;
  }

  .app-section-title {
    text-align: center;
  }

  /* app header */
  .app-header {
    padding: 0 5px;
  }

  .app-title {
    font-size: 1.5em;
    width: 30%;
    padding-top: 15px;
    text-align: left;
  }
  
  .app-title a {
    display: none
  }

  .phone-title {
    display: inline;
  }
  
  .main-menu {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    align-items: center;
  }
  
}