/*  loader */

.loader {
  background: white;
  position: relative;
  border-top: 1px solid white;
  height: 5px;
  overflow-x: hidden;
}

.loader.loading .inner-load {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark-color);
  overflow: hidden;
  animation: loading 5s infinite;
}


@keyframes loading {
  0% {
    left: 0%;
  }

  100% {
    left: 90%;
  }
}
